* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $background;
  font-size: 13px;
  line-height: $line-height;
  color: $text;
  font-family: $font-family;
}

.container {
  padding: 0 15px 0;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;

  @include l-up {
    padding-left: 25px;
    padding-right: 25px;
  }

  main & {
    padding-bottom: 40px;
  }
}
