* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

html, body {
  background-color: $background;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: $text;
  font-family: $font-family;

  &.scroll-disabled {
    overflow: hidden;
  }
}
