$background: #f3f3f7;
$white: #fff;
$gray: #86899e;
$accent: #7142eb;
$text: #3d3b48;
$accentLight: #f4f0fe;
$warning: #e64568;
$lightGray: #9da0b7;
$black: #000;
$success: #06b081;
$success-background: #20be93;
$error: #e64568;
$error-background: #e64568; 