$background: #f3f3f7;
$white: #fff;
$gray: #86899e;
$accent: #7142eb;
$text: #3d3b48;
$accentLight: #f4f0fe;
$lightGray: #9da0b7;
$black: #000;
$success: #1ecfae;
$success-background: transparentize($success, 0.81);
$error: #e64568;
$error-background: transparentize($error, 0.81);
