$font-family: 'LatoLatinWeb', 'Arial', sans-serif;
$line-height: 1.5;

$adminContainerWidth: 700px;

$z-index-navbar: 99;
$z-index-modal: 99999;

$small: "screen and (min-width: 480px)";
$small-down: "screen and (max-width: 479px)";
$medium: "screen and (min-width: 839px)";
$medium-down: "screen and (max-width: 838px)";
$large: "screen and (min-width: 1024px)";
$xlarge: "screen and (min-width: 1199px)";
$xxlarge: "screen and (min-width: 1800px)";
