$categoryIconSizeDesktop: 27px;
$categoryIconSizeMobile: 36px;

$radioSize: 22px;
$font-family: 'Lato', 'Arial', sans-serif;

$adminContainerWidth: 700px;

$small: "screen and (min-width: 480px)";
$small-down: "screen and (max-width: 479px)";
$medium: "screen and (min-width: 839px)";
$large: "screen and (min-width: 1024px)";
$xlarge: "screen and (min-width: 1199px)";
$xxlarge: "screen and (min-width: 1800px)";
