<div class="login">
  <div class="login__logo">
    <%= img_tag static_path(@conn, "/images/logo-10books.svg"),
      alt: "10books"
    %>
  </div>

  <%= link(
    to: auth_path(@conn, :request, :google)
  ) do %>
    <button class="button button--dark">Login with google</button>
  <% end %>
</div>

<%= if get_flash(@conn, :error) do %>
  <script>
    setTimeout(function () {
      alert("<%= get_flash(@conn, :error) %>");
    });
  </script>
<% end %>
