.grid-container {
  margin: 0 auto;

  .row {
    &:before,
    &:after {
      content : "";
      clear: both;
      display : table;
    }

    [class*='col-'] {
      align-items: center;
      display: flex;
      float: left;
      font-weight: 600;
      min-height: 1px;
    }

    @for $i from 1 through $colsNumber {
      .col-#{$i}{
        padding: 0 0 0 15px;
        width: 100% / $colsNumber * $i;
      }
    }
  }
}
