@mixin categoryIcon($size, $color, $categoryAbbr) {
  background-color: lighten($color, 35%);
  color: $color;
  height: $size;
  min-width: $size;
  width: $size;

  &::after {
    content: $categoryAbbr;
  }
}

@mixin s-up {
  @media only #{$small} {
    @content;
  }
}

@mixin m-up {
  @media only #{$medium} {
    @content;
  }
}

@mixin l-up {
  @media only #{$large} {
    @content;
  }
}

@mixin xl-up {
  @media only #{$xlarge} {
    @content;
  }
}

@mixin xxl-up {
  @media only #{$xxlarge} {
    @content;
  }
}
