.mobile-table {
  $module: &;

  font-size: 16px;

  &__row {
    background-color: $white;
    border-radius: 5px;
    height: auto;
    line-height: normal;
    margin: 0 0 10px 0;
    padding: 15px;
    width: 100%;

    &--available {
      border-left: 5px solid $accent;
    }
  }

  &__main {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__author {
    font-weight: bold;
    margin: 15px 0 0 0;
  }

  &__arrow-wrapper {
    margin: 0 0 0 15px;
    width: 20px;
  }

  &__category-name {
    color: $gray;
    font-weight: 600;
  }

  &__details {

  }

  &__details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__rating {
    font-weight: bold;
  }

  &__button {
    width: 100%;
  }
}
