$background: #f3f3f7;
$white: #fff;
$gray: #86899e;
$accent: #7142eb;
$text: #3d3b48;
$accentLight: #f4f0fe;
$warning: #e64568;
$lightGray: #9da0b7;

$design: #3c79e4;
$programming: #7142eb;
$business: #1ecfae;
$recruitment: #eb4288;
$web: #eb42bc;
$security: #fa732f;
$graphic: #fdad1f;
$database: #36bbed;
$os: #1ecf42;
$mobile: #230ab4;
