.popup {
  background-color:rgba($black, .4);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  &__window {
    background-color: $white;
    margin: 100px auto;
    max-width: 600px;
    padding: 40px;

    @include m-up {
      padding: 60px;
    }
  }

  &__heading {
    font-size: 18px;
    font-weight: bold;

    @include m-up {
      font-size: 24px;
    }
  }
}
