.table {
  $module: &;

  font-size: 14px;
  line-height: 24px;
  line-height: normal;
  overflow: hidden;
  width: 100%;

  * {
    border: 1px dotted magenta;
  }

  &__row {
    //height: 70px; // set fixed height and shorten title, or min-height?
    background-color: $white;
    border-left: 5px solid transparent; // :(
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    padding: 20px 10px;
    position: relative;

    @include m-up {
      flex-direction: row;
    }

    &--transparent {
      background-color: transparent;
      display: none;
    }

    &:hover {
      box-shadow: 5px 40px 40px 10px rgba(75, 82, 113, 0.08);
      position: relative;
      z-index: 2;
    }

    &--highlight {
      border-left: 5px solid $accent;
    }

    [class*='col-'] {
      &:last-of-type {
        padding-right: 20px;
      }
    }

    .table__arrow {
      position: absolute;
      right: 20px;
      top: 44px;

      @include m-up {
        display: none;
      }
    }

  }

  &__heading {
    color: $gray;
    font-weight: bold;
    text-align: left;
  }

  &__data {
    line-height: 26px;

    &--truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__data-title {
    width: 90%;
  }

  &__data-author {
    font-weight: bold;
    width: 90%;
  }

  &__data-status {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__details {
    margin-top: 30px;

    @include m-up {
      display: flex;
    }
  }

  &__data-category {
    align-items: center;
    color: $gray;
    display: flex;
    justify-content: space-between;
  }

  &__category-wrapper {
    align-items: center;
    display: flex;
  }

  &__category-name {
    margin-left: 15px;
    font-weight: bold;
  }

  &__rating {
    color: $text;
    font-weight: bold;
  }

  &__data-status {
    font-weight: bold;
    margin-top: 30px;
  }

  &__data-status-date {
    color: $gray;
    font-size: 12px;
    font-weight: 600;
  }
}
