.table {
  font-size: 16px;
  width: 100%;

  &__row {
    height: 60px;
    border-radius: 5px;
    background-color: $white;
    margin: 0 0 10px 0;
    display: flex;

    &:first-of-type {
      background-color: transparent;
    }
  }

  &__heading {
    font-weight: bold;
    color: $gray;
    text-align: left;
  }
}
