$categoryIconSize: 36px;
$colsNumber: 12;

$small: "screen and (min-width: 480px)";
$medium: "screen and (min-width: 839px)";
$large: "screen and (min-width: 1024px)";
$xlarge: "screen and (min-width: 1199px)";
$xxlarge: "screen and (min-width: 1800px)";
