<div id="products-table"></div>

<script>
  window.LibTen.ReactComponents.renderOrders(
    document.getElementById('products-table'),
    <%=
      {:safe, Poison.encode_to_iodata!(
        Map.take(@conn.assigns[:current_user], [:id, :is_admin])
      )}
    %>
  );
</script>
