<div id="products-table"></div>

<script>
  window.LibTen.ReactComponents.renderOrders(
    document.getElementById('products-table'), {
      id: <%= @conn.assigns[:current_user].id %>,
      is_admin: <%= @conn.assigns[:current_user].is_admin %>
    }
  );
</script>
