<h2>Show Category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

</ul>

<span><%= link "Edit", to: admin_category_path(@conn, :edit, @category) %></span>
<span><%= link "Back", to: admin_category_path(@conn, :index) %></span>
