.admin {
  $module: &;

  margin: 70px 0 40px;
  width: 100%;

  @include s-up {
    padding: 0 10px;
  }

  @include m-up {
    padding-left: 40px;
  }

  &__wrapper {
    max-width: 700px;

    .table {
      &__row {
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  &__subheading {
    display: none;
    color: $gray;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 12px;

    @include s-up {
      display: block;
      padding-left: 22px;
    }
  }

  &__row {
    background-color: $white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;

    @include s-up {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 12px 12px 12px 22px;
    }
  }

  &__category {
    align-items: center;
    color: $gray;
    display: flex;
    font-weight: bold;
    font-size: 13px;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @include s-up {
      margin: 0;
      padding: 0;
    }

    .button {
      height: 40px;
      line-height: 40px;
      width: 100px;
    }
  }

  &__edit {
    @include s-up {
      margin: 0 10px 0 0;
    }

    @include m-up {
      margin: 0 30px 0 0;
    }
  }

  &__edit-img {
    height: 40px;
  }

  > .button {
    margin-top: 40px;
    width: 180px;

    a {
      color: $accentLight;
    }
  }

  &__edit-page {
    .button {
      @include s-up {
        width: 150px;
      }
    }

    #{$module}__subheading {
      display: block;
      margin-top: 40px;
    }
  }
}
