.categories {
  $module: &;

  margin: 70px 0 40px;
  padding: 0 10px;
  width: 100%;

  @include m-up {
    padding-left: 40px;
  }

  &__heading {
    font-size: 20px;
    font-weight: bold;
  }

  &__wrapper {
    margin-top: 40px;
    max-width: 700px;
  }

  &__subheading {
    display: none;
    color: $gray;
    font-weight: bold;
    margin-bottom: 15px;

    @include s-up {
      display: block;
    }
  }

  &__row {
    background-color: $white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;

    @include s-up {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }
  }

  &__category {
    align-items: center;
    color: $gray;
    display: flex;
    font-weight: bold;
    font-size: 13px;
  }

  &__name {
    @include m-up {
      margin-left: 20px;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @include s-up {
      margin: 0;
      padding: 0;
    }

    .button {
      height: 40px;
      width: 100px;
    }
  }

  &__edit {
    @include s-up {
      margin: 0 10px 0 0;
    }
  
    @include m-up {
      margin: 0 30px 0 0;
    }
  }

  &__edit-img {
    height: 40px;
  }

  >.button {
    margin-top: 20px;
    width: 180px;

    a {
      color: $accentLight;
    }
  }

  &__input {
    height: 50px;
    width: 100%;
    max-width: 475px;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 14px;
  }

  &__edit-page {
    .button {
      height: 40px;
      margin-top: 30px;

      @include s-up {
        width: 100px;
      }
    }

    #{$module}__subheading {
      display: block;
      margin-top: 40px;
    }
  }

  .form-group {
    &__category {
      height: 100px;
    }
  }
}
