.login {
  background-color: $white;
  height: 313px;
  margin: 116px auto 0;
  max-width: 476px;
  padding: 91px 40px 0;
  text-align: center;

  .button {
    font-family: 'Lato', sans-serif;
    margin: 57px auto 104px;

    @include s-up {
      max-width: 210px;
    }
  }
}
