// TODO: Refactor
.product-actions {
  $module: &;
  position: relative;
  border-radius: 4px;

  &__label {
    white-space: nowrap;
    padding: 0 40px;
    justify-content: center;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .Select-input {
    position: absolute;
    display: block !important;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .Select-arrow {
    z-index: 1;
    border-color: $gray transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    position: absolute;
    right: 13px;
    top: 50%;
    width: 0;
    transform: translateY(-50%);
  }

  .Select-menu-outer {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 69px 5px rgba(13, 13, 30, .1);
    margin-top: 5px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .Select-option.is-focused {
    background-color: rgba(237, 237, 242, .4);
  }

  .Select-option {
    cursor: pointer;
  }

  &__option-divider {
    border-top: 1px solid #efeff5;
    margin: 4px 0;
  }

  &__option {
    padding: 8px 16px;
  }

  &--bright .Select-arrow {
    border-top-color: $accent;
  }

  &--green .Select-arrow {
    border-top-color: $success;
  }

  &--red .Select-arrow {
    border-top-color: $error;
  }

  &.is-disabled .Select-arrow {
    display: none;
  }

  &.is-open .Select-arrow {
    transform: translateY(-50%) rotate(180deg);
  }
}
