.search-form {
  position: relative;
  width: 100%;

  @include m-up {
    display: flex;
    justify-content: center;
    width: auto;
  }

  &__wrapper-input{
    position: relative;

    @include m-up {
      width: 500px;
    }
  }

  &__input {
    border-radius: 5px;
    border: none;
    box-shadow: 4px 57px 67px 0 rgba(75, 82, 113, 0.09);
    font-size: 16px;
    height: 65px;
    padding: 0 40px 0 15px;
    width: 100%;

    &::placeholder {
      color: $lightGray;
      font-size: 16px;
    }
  }

  &__loupe {
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__dropdown{
    background: #ffffff;
    border-radius: 5px;
    margin-left: 40px;
    width: 250px;
    display: none;

    @include m-up {
      display: block;
    }

    .Dropdown-control{
      background: #ffffff;
      height: 100%;
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;

  @include m-up {
    flex-wrap: nowrap;
    margin-right: 40px;
  }

  @include l-up {
    margin: 60px 0;
  }

  @include xxl-up {
    margin: 80px 0;
  }

  .button {
    height: 65px;

    @include m-up {
      min-width: 150px;
      padding: 0 30px;
      margin-left: 40px;
    }

    @include xl-up {
      padding: 0 50px;
    }
  }
}
