.select {
  position: relative;

  &--native:before,
  .Select-arrow {
    z-index: 1;
    border-color: $gray transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    position: absolute;
    right: 13px;
    top: 50%;
    width: 0;
    transform: translateY(-50%);
  }

  &--native {
    &:before {
      content: '';
    }

    select {
      appearance: none;
    }
  }

  &--native#{&}--empty select {
    color: $gray;
  }

  .Select-control {
    cursor: pointer;
  }

  .Select-input {
    position: absolute;
    display: block !important; // sass-lint:disable-line no-important
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .Select-menu-outer {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 69px 5px rgba(13, 13, 30, .1);
    margin-top: 5px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .Select-option.is-focused {
    background-color: rgba(237, 237, 242, .4);
  }

  .Select-option {
    cursor: pointer;
  }

  &.is-disabled {
    pointer-events: none;

    .Select-arrow {
      display: none;
    }
  }

  &__option {
    padding: 8px 16px;
  }
}
