.form{
  &__group{
    margin-bottom: 35px;

    @include m-up {
      margin-bottom: 50px;
    }
  }

  &__label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: $text;
    margin-bottom: 10px;

    @include m-up {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__input{
    background-color: rgba(237, 237, 242, 0.4);
    border-radius: 3px;
    border: none;
    display: block;
    font-size: 16px;
    color: $gray;
    height: 55px;
    padding-left: 20px;
    width: 100%;

    @include m-up {
      font-size: 14px;
      padding-left: 10px;
    }
  }

  &__button{
    display: block;
    margin: 0 0 0 auto;
  }
}
