.popup {
  background-color:rgba($black, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include xl-up {
    overflow-y: hidden;
    padding: 0;
  }

  @include xxl-up {
    display: block;
  }

  &__window {
    background-color: $white;
    border-radius: 5px;
    max-width: 95%;
    padding: 40px 20px;
    margin: auto;
    width: 600px;

    @include m-up {
      padding: 40px 50px;
    }

    @include xxl-up {
      margin: 100px auto;
    }

    &--form{
      @include l-up {
        width: 800px;
      }
    }
  }

  &__heading {
    font-size: 18px;
    font-weight: bold;

    @include m-up {
      font-size: 24px;
    }
  }
}
