.search-form {
  margin: 40px auto 0;
  max-width: 800px;

  @include m-up {
    margin: 40px auto;
  }

  &__input {
    border-radius: 5px;
    border: none;
    box-shadow: 4px 57px 67px 0 rgba(75, 82, 113, 0.09);
    font-size: 16px;
    height: 65px;
    padding: 0 40px 0 15px;
    width: 100%;

    &::placeholder {
      color: $lightGray;
      font-size: 16px;
    }
  }

  &__loupe {
    //light version is available for PRO users only :(
    color: $lightGray;
    display: inline-block;
    font-size: 24px;
    margin-left: -40px;
  }
}
