<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= Application.get_env(:lib_ten, :title) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>window.currentUserToken = "<%= @conn.assigns[:current_user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark header-navbar">
      <div class="navbar-brand">
        <i class="fa fa-book" aria-hidden="true"></i>
        <%= Application.get_env(:lib_ten, :title) %>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= active_link(@conn, "Library",
            to: products_path(@conn, :library),
            wrap_tag: :li,
            class: "nav-link")
          %>
          <%= active_link(@conn, "Orders",
            to: products_path(@conn, :orders),
            wrap_tag: :li,
            class: "nav-link")
          %>
          <%= active_link(@conn, "All",
            to: admin_products_path(@conn, :all),
            wrap_tag: :li,
            class: "nav-link")
          %>
          <%= active_link(@conn, "Users",
            to: admin_user_path(@conn, :index),
            wrap_tag: :li,
            class: "nav-link")
          %>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link("Sign out", to: auth_path(@conn, :sign_out), class: "nav-link") %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
