<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= Application.get_env(:lib_ten, :title) %></title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <script>
    window.LibTen = {
      config: {
        currentUser: {
          id: <%= @conn.assigns[:current_user].id %>,
          is_admin: <%= @conn.assigns[:current_user].is_admin %>,
        },
        socketToken: "<%= @conn.assigns[:current_user_token] %>",
        appVersion: "<%= Application.spec(:lib_ten, :vsn) %>"
      }
    };
  </script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</head>
<body>
  <nav id="js-page-header" class="navbar">
    <div class="container">
      <%= link(
        to: products_path(@conn, :library)
      ) do %>
        <%= img_tag static_path(@conn, "/images/logo-10books.svg"),
          alt: "10books",
          class: "navbar__logo"
        %>
      <% end %>

      <button
        type="button"
        id="js-navbar-menu-toggle-btn"
        class="navbar-burger-btn"
      >
        <div class="navbar-burger-btn__icon">
          <span class="navbar-burger-btn__icon-line"></span>
          <span class="navbar-burger-btn__icon-line"></span>
          <span class="navbar-burger-btn__icon-line"></span>
        </div>
      </button>

      <div class="navbar-menu" id="js-navbar-menu">
        <ul class="navbar-menu__group">
          <li class="navbar-menu__item">
            <%= active_link @conn, "Library",
              to: products_path(@conn, :library),
              class: "navbar-menu__item-label"
            %>
          </li>
          <li class="navbar-menu__item">
            <%= active_link @conn, "Orders",
              to: products_path(@conn, :orders),
              class: "navbar-menu__item-label"
            %>
          </li>
          <%= if @conn.assigns.current_user.is_admin do %>
            <li class="navbar-menu__item">
              <%= active_link @conn, "All",
                to: products_path(@conn, :all),
                class: "navbar-menu__item-label"
              %>
            </li>
            <li class="navbar-menu__item">
              <span class="navbar-menu__item-label">
                Admin
                <div class="arrow arrow--down"></div>
              </span>
              <div class="navbar-menu__subgroup">
                <ul class="navbar-menu__subgroup-inner">
                  <li class="navbar-menu__item">
                    <%= link "Categories",
                      to: admin_category_path(@conn, :index),
                      class: "navbar-menu__item-label"
                    %>
                  </li>
                  <li class="navbar-menu__item">
                    <%= link "Users",
                      to: admin_user_path(@conn, :index),
                      class: "navbar-menu__item-label"
                    %>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-menu__group">
          <li class="navbar-menu__item">
            <span class="navbar-menu__item-label navbar-logout">
              <%= link("Log Out",
                to: auth_path(@conn, :sign_out),
                class: "navbar-logout__burger-label"
              ) %>
              <span class="navbar-logout__label">
                <%= img_tag(
                  @conn.assigns.current_user.avatar_url <> "?sz=50",
                  class: "navbar-logout__avatar"
                ) %>
                <%= @conn.assigns.current_user.name %>
                <%= link(
                  to: auth_path(@conn, :sign_out),
                  class: "navbar-logout__label-icon",
                  title: "Log Out"
                ) do %>
                  <%= img_tag(
                    static_path(@conn, "/images/logout.svg"),
                    alt: "Log Out"
                  ) %>
                <% end %>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="navbar__height-compensator"></div>

  <div id="message-banner"></div>
  <script>
    window.LibTen.renderReactComponent('LiveDemoMessage',
      document.getElementById('message-banner')
    );
  </script>

  <main>
    <div class="container">
      <div class="<%= if admin_section?(@conn), do: "admin-page", else: "" %>">
        <%= for {key, val} <- get_flash(@conn) do %>
          <div class="alert alert--<%= key %>">
             <%= val %>
          </div>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
  </main>
</body>
</html>
